@page
@model Razor_Pages_Tutorial.Pages.BugTracker.IndexModel

@{
    ViewData["Title"] = "Index";
}


page1
<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

@*Search Box*@
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Title:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.DateSort">@Html.DisplayNameFor(model => model.Bug[0].CreateDate)</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.TitleSort">@Html.DisplayNameFor(model => model.Bug[0].Title)</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.SeveritySort">@Html.DisplayNameFor(model => model.Bug[0].Severity)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bug)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Severity)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BugID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BugID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BugID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Next and Previous Buttons*@

@{
    var prevDisabled = !Model.Bug.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Bug.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Bug.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Bug.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>


